body{ 
    font-family: 'Poppins', sans-serif;

}

.interfaz {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(19, 85, 122)
    
}

.main {
    color: azure;
    padding: 6rem;
    font-size: 20px;
   

}

.main h1{
    font-size: 60px;
}


button{
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}


